body{
	font-family: arial;
	margin: 0px;
/*	padding-bottom: 100px;*/
	background-color: none;
}

header{
	background-image:url('images/beans.jpg');
	background-repeat: no-repeat;
	background-size: 100%;
}


#logo{
	text-align: center;
	/*background-image:url('images/beans.jpg');
	background-repeat: no-repeat;
	background-position: center;*/

}

.nav {
	margin: 0px 0px 0px 0px;
	padding:10px 0px 5px 0px;
	width: 100%;
	background-color: #2f0c01;;
	float: left;
	text-align: center;
	font-family: Georgia, Arial, Serif;
	font-size: 1em;
}
.nav ul{
	padding: 0px;
	margin: 0px;
}
.nav ul li{
	padding: 0px 20px 0px 0px;
	margin: 0px;
	display: inline-block;
}

.nav a:link{
	color: #b3a087;
	text-decoration: none;

}

.nav a:visited{
	color: #b3a087;
}

#content{
	background-color: #FFFFFF;

}

#content h3{
	margin: 0px;
}


.left {
	float: left;
	width: 300px;
	text-align: center;
	margin: 20px 20px 20px 250px;
}

.right {
	float: left;
	width: 300px;
	text-align: center;
	margin: 20px 20px 20px 100px;
}


.clearfix:after { 
   content: "."; 
   visibility: hidden; 
   display: block; 
   height: 0; 
   clear: both;
}
/*-------about page-----------*/
#about {
	margin: 20px;
	padding: 20px;
}

#about img {
	padding-right: 10px; 
}

/*-------beans page-----------*/

#beans {
	margin: 20px;
	padding:20px;
}

/*-------specials page-----------*/

#specials {
	margin: 20px;
	padding:20px;
}

/*-------specials page-----------*/

#contact {
	margin: 20px;
	padding:20px;
}

/*-------footer-----------*/

#footer {
	width: 100%;
	position: absolute;
	bottom: 0px;
	background-color: #2f0c01;
}

#footer p{
	text-align: center;
	color: #b3a087;
	font-size: 1em;
	font-family: Georgia, Arial, Serif;
}