body{
	font-family: Arial, sans-serif;
	margin: 0px;
	padding: 0px;
}

@font-face {
font-family: League Gothic;
src: url('type/league-gothic/LeagueGothic-Regular.otf');
}

#header{
	margin: 20px;
	clear: both;
	overflow: hidden;
	min-height: 10px;
	border-bottom: 1px solid #000000;
}

#logo {
	float: left;
}

.nav {
	margin: 70px 0px 0px 0px;
	width: 210px;
	background-color: none;
	float: right;
}
.nav ul{
	padding: 0px;
	margin: 0px;
	font-weight: bold;
}
.nav ul li{
	padding: 0px 10px 0px 0px;
	margin: 0px;
	display: inline-block;
}

.nav a:link {
	text-decoration: none;
	color: black;
}

.nav a:visited{
	color:black;
}

#wrapper {
	margin: 0px;

}

.side_nav{
	margin-top: 25px;
	width: 250px;
	background-color: none;
	float: left;
	font-weight: bold;
	font-family: arial, sans-serif;
/*	position: fixed;*/
}

.side_nav li{
	margin: 0px 0px 10px 0px;
}

.side_nav ul{
	list-style-type: none;

	padding: 0px 0px 0px 20px;
}

.side_nav a:link {
	text-decoration: none;
	color: black;
}

.side_nav a:visited {
	color: black;
}

#content{
	margin: 0px 0px 0px 100px;
	padding: 15px 0px 0px 0px;
	width: 700px;
	float: left;
	line-height: 20px;
}


#content h5{
	font-size: .8em;
	margin:0px;
	padding-bottom: 5px;
}

#content h2{
	text-transform: uppercase;
	padding-bottom: 10px;
	margin: 0px;
	font-size: 2em;
	font-family: 'League Gothic', sans-serif, arial;
}

.blogpost p{
	padding-bottom: 30px;
}

.clearfix:after { 
   content: "."; 
   visibility: hidden; 
   display: block; 
   height: 0; 
   clear: both;
}

#about, #archives, #contact {
	margin:20px;
}

#about h2, #archives h2, #contact h2 {
	padding-bottom: 10px;
	font-weight: bold;
}

#archives h3 {
	margin-bottom: 10px;
}

#archives ol li{
	margin-left: 20px;
	list-style-type: decimal; 
	padding-bottom: 0.85em;
}

#archives ul li{
	margin-left: 20px;
	list-style-type: disc; 
	padding-bottom: 0.85em;
}
#footer {
	margin: 10px;
	padding-top: 10px;
	min-height: 10px;
	border-top: 1px solid #000000;
	font-weight: bold;
}

